body.Home {
  font-family: "Mitr", sans-serif;
  overflow-y: hidden;
}

.container {
  width: 100%;
  color: white;
}

.createHome {
  display: block;
  width: 50%;
  padding: 10px;
  border: none;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  cursor: pointer;
  transform: translateY(50px);
  background-color: #02c4c3;
  text-align: none;
}

.loginNav {
  font-size: 15px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  position: absolute;
  top: 30px;
  right: 200px;
  background-color: #f1e189;
  border: none;
  border-radius: 20px;
}

.loginNav:hover {
  background-color: rgb(255, 225, 55);
  color: rgb(0, 0, 0);
}

.createHome:hover {
  background-color: #008181;
  color: rgb(255, 255, 255);
}

.linking {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.navbar-logo {
  height: auto; /* ทำให้ความสูงปรับตามอัตราส่วน */
  max-width: 40px; /* กำหนดความกว้างสูงสุดของภาพ */
  position: absolute; /* ตั้งให้ภาพอยู่ในโหมด absolute */
  left: 100px; /* ระยะห่างจากขอบขวา 100px */
  top: 0; /* ยืนยันตำแหน่งด้านบน */
  width: 100%; /* ขยายภาพให้เต็มความกว้างของ .navbar-image */
}

.navbar-profile {
  height: auto; /* ทำให้ความสูงปรับตามอัตราส่วน */
  max-width: 40px; /* กำหนดความกว้างสูงสุดของภาพ */
  position: absolute; /* ตั้งให้ภาพอยู่ในโหมด absolute */
  right: 100px; /* ระยะห่างจากขอบขวา 100px */
  top: 20px; /* ยืนยันตำแหน่งด้านบน */
  width: 100%; /* ขยายภาพให้เต็มความกว้างของ .navbar-image */
}

#sky {
  background-color: red;
  height: 60vh;
  background-image: url("/assets/pics/home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 15% 45%;
  background-attachment: fixed;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#sky .overlayerr {
  text-transform: uppercase;
  color: white;
}

#sky .mountain_btm_right {
  position: absolute;
  width: 50%;
  right: 0;
  bottom: 0;
  height: 400px;
  background-image: url("/assets/pics/bg_home.png");
}
#sky .mountain_btm_left {
  position: absolute;
  width: 50%;
  left: 0;
  bottom: 0;
  height: 400px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  background-image: url("/assets/pics/bg_home.png");
}
#sky .mountain_btm_mid {
  position: absolute;
  width: 100%;
  left: 0;
  right: 80px;
  margin: 0 auto;
  bottom: -80px;
  height: 400px;
  background-image: url("/assets/pics/bg_home.png");
}

section {
  position: relative;
  z-index: 5;
  background-color: #28132a;
  height: 30vh;
}
