body.PAGE {
    height: 100vh;
    background: #e791d9;
    font-family: "Mitr", sans-serif;
  }
  
  .menu_item {
      padding: 0;
  }
  
  /* Pre css */
  .flex {
    display: flex;
    align-items: center;
  }
  .nav_image {
    display: flex;
    min-width: 55px;
    justify-content: center;
    
  }
  .nav_image img {
    height: 160px;
    width: 220px;
    object-fit: cover;
  }
  
  .linkTo {
      text-decoration: none; /* เอาเส้นใต้ออก */
      color: black;
      font-family: "Mitr", sans-serif;
  } 
  
  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 220px;
    background: #fff;
    z-index: 3 ;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
  }
  
  .logo_items {
    gap: 8px;
  }
  .logo_name {
    font-size: 22px;
    color: #333;
    font-weight: 500px;
    transition: all 0.3s ease;
  }
  .sidebar.close .logo_name,
  .sidebar.close #lock-icon,
  .sidebar.close #sidebar-close {
    opacity: 0;
    pointer-events: none;
  }
  #lock-icon,
  #sidebar-close {
    padding: 10px;
    color: #4070f4;
    font-size: 25px;
    cursor: pointer;
    margin-left: -4px;
    transition: all 0.3s ease;
  }
  .menu_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    height: calc(100% - 82px);
  }
  .item {
    list-style: none;
  }
  .link {
    text-decoration: none;
    margin-bottom: 8px;
    color: #0a0a0a;
  }
  .link:hover {
    color: #fff;
    background-color: #00C2C1;
  }
  ul {
      padding-left: 0rem;
  }
  .link span {
    white-space: nowrap;
    
  }
  .link i {
    height: 50px;
    min-width: 55px;
    display: flex;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    text-decoration: none;
  }
  .sidebar-name {
    font-size: 16px;
    color: #0f0202;
    font-weight: bold;
    position: absolute;
    bottom: 35px; /* ใช้ค่า bottom: 0 เพื่อฟิกตำแหน่งด้านล่าง */
    left: 75px; /* ห่างจากด้านซ้าย 100px */
  }
  .sidebar-username {
    font-size: 14px;
    color: #0f0202;
    font-weight: bold;
    position: absolute;
    bottom: 14px;
    right: 70px;
  }
  
  .profile_image {
      display: flex;
      min-width: 55px;
      justify-content: center;
  }
  .profile_image img {
      height: 50px;
      width: 50px;
      object-fit: cover;
      margin-right: 10px;
      transform: translateY(-85px); 
  }
    
